*,
*::before,
*::after {
  box-sizing: border-box;

}

html{
	background: url(background.png) center center;
	min-height: 10%
	background-size: covers;
} 

h1 { color: white; font-family: Akzidenz-Grotesk Pro Ext; font-size: 39.06px; margin-top: 48px; }
h2 {color: white; font-family: Akzidenz-Grotesk Pro Ext; font-size: 39.06px; margin-top: 16px;}
main {color: white; font-family: Akzidenz-Grotesk Pro Med; font-size: 16px; margin-top: 40px;}
h3 {color: white; font-family: Akzidenz-Grotesk Pro Med; font-size: 16px; margin-top: 28px;}
h4  { color: purple; font-family: Akzidenz-Grotesk Pro Bold Ext; font-size: 16px; margin-top: 42px}
a { color: white; font-family: Akzidenz-Grotesk Pro Med; font-size: 16px;}


img { pointer-events: none }